In [1]:
!pip install sklearn-contrib-py-earth

Collecting sklearn-contrib-py-earth
  Downloading https://files.pythonhosted.org/packages/f8/c4/53a24835bafac880036446cc13839471a025b41de1436543f30d15d846c1/sklearn-contrib-py-earth-0.1.0.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 6.0MB/s
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.4.1)
Requirement already satisfied: scikit-learn>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.15.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.16->sklearn-contrib-py-earth) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth) (0.17.0)
Building wheels for collected packages: sklearn-contrib-py-earth
  Building wheel for sklearn-contrib-py-earth (setup.py) ... done
  Created wheel for sklearn-contrib-py-earth: filename=sklearn_contrib_py_earth-0.1.0-cp36-cp36m-linux_x86_64.whl size=3894153 sha256=f322021263d1ced7bc482a533a43be44c088df9dea3dc19b7d0812032114e0b0
  Stored in directory: /root/.cache/pip/wheels/b7/8b/9c/4741513102ce3bd0f0227353dacdfbe9a5b0e47c261e45510b
Successfully built sklearn-contrib-py-earth
Installing collected packages: sklearn-contrib-py-earth
Successfully installed sklearn-contrib-py-earth-0.1.0

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from pyearth import Earth
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import warnings

In [3]:
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("Data.csv")

In [5]:
df.head(5)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
target_col = "sales"
X = df.loc[:, df.columns != target_col]
y = df.loc[:, target_col]

# Linear Regression Model

In [7]:
LR_model = LinearRegression()

In [8]:
LR_Model_Fitted = LR_model.fit(X, y)

In [9]:
print("Intercept: ", LR_Model_Fitted.intercept_)
print("Slope: ", LR_Model_Fitted.coef_)

Intercept:  2.938889369459412
Slope:  [ 0.04576465  0.18853002 -0.00103749]

In [10]:
y_pred = LR_Model_Fitted.predict(X)

In [11]:
r2_score(y, y_pred)

0.8972106381789522

In [12]:
mean_squared_error(y, y_pred)

2.784126314510936

# MARS Regression Model

In [13]:
MARS_model = Earth(max_terms=500, max_degree=1)

In [14]:
MARS_model_fitted = MARS_model.fit(X, y)

In [15]:
y_pred_mars = MARS_model_fitted.predict(X)

In [16]:
r2_score(y, y_pred_mars)

0.9334092102385019

In [17]:
mean_squared_error(y, y_pred_mars)

1.8036610675900635

In [18]:
print(MARS_model_fitted.summary())

Earth Model
-------------------------------------
Basis Function  Pruned  Coefficient
-------------------------------------
(Intercept)     No      12.9872
h(TV-23.8)      No      0.0623451
h(23.8-TV)      No      -0.250065
radio           Yes     None
h(TV-89.7)      No      -0.0269334
h(89.7-TV)      Yes     None
h(radio-47)     No      0.682929
h(47-radio)     No      -0.191718
h(radio-44.5)   Yes     None
h(44.5-radio)   Yes     None
-------------------------------------
MSE: 1.8037, GCV: 2.0742, RSQ: 0.9334, GRSQ: 0.9242